@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700;800&display=swap");
body {
  font-family: "Nunito Sans";
}

.image-container {
  width: 100%;
}
.image-container > div {
  position: unset !important;
}

.image-container.image {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

/* REACT BIG CALENDAR */
